@font-face {
  font-family: Bold;
  src: url("fonts/OpenSans-Bold.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Regular;
  src: url("fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.header_logo {
  width: 43%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container-header {
  display: block;
  color: #ffffff;
  padding: 30px 20px 10px 20px;
  width: 100%;
  z-index: 1;
  position: relative;
}
h1 {
  margin-top: 135px;
  margin-left: 20px;
  font-family: Bold;
  font-size: 28px;
  text-transform: uppercase;
}
h2 {
  margin-top: 28px;
  margin-left: 65px;
  font-family: Bold;
  font-size: 28px;
  text-transform: uppercase;
}

.app_store {
  display: flex;
  flex-direction: column;
 justify-content: center;
 padding-left: 35%;
  width: 88%;
  height: 35px;
  border-radius: 15px;
  border: none;
  font-family: Regular;
  font-size: 8px;
  text-transform: uppercase;
 
  color: #ffffff;
  background-color: #5e42b0;
  background-image: url("svg/apple_logo_black.svg");
  background-size : 25px;
  background-repeat: no-repeat;
  background-position: 30% center;
}

.header {
  background-color: #2d5a9e;
  background-image: url("img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  font-family: Bold;
  position: relative;
}
.header::before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

@media (min-width: 1301px) {
  .header {
    font-size: 16px;
  }
}

@media (min-width: 641px) and (max-width: 1300px) {
  .header {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .header {
    font-size: 8px;
  }
}
