* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Bold;
  src: url("fonts/OpenSans-Bold.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Regular;
  src: url("fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.header_logo {
  width: 43%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container-header {
  display: block;
  color: #ffffff;
  padding: 30px 20px 85px 20px;
  width: 100%;
  z-index: 1;
  position: relative;
}
h1 {
  margin-top: 135px;
  margin-left: 20px;
  font-family: Bold;
  font-size: 28px;
  text-transform: uppercase;
}
h2 {
  margin-top: 28px;
  margin-left: 65px;
  font-family: Bold;
  font-size: 28px;
  text-transform: uppercase;
}

.app_store {
  background-image: url("svg/apple_logo_black.svg");
}

.google_play {
  background-image: url("svg/google-play.svg");
}
.buttons {
  margin-top: 80px;
}
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 118px;
  width: 280px;
  height: 35px;
  border-radius: 15px;
  border: none;
  font-size: 8px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5e42b0;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 30% center;
}

.app_store_label,
.google_play_label {
  font-family: Regular;
}
.app_store_link,
.app_store_link {
  font-family: Bold;
}
.google {
  padding-top: 14px;
}
a {
  text-decoration: none;
}
.header {
  background-color: #2d5a9e;
  background-image: url("img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  font-family: Bold;
  position: relative;
}
.header::before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.athlets_title,
.be-activ_title {
  font-family: Bold;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase;
  margin-left: 20px;
}
.athlets_img {
  margin-left: 30%;
  margin-top: 5px;
}
.connection,
.collaboration,
.growth {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}
.title {
  font-family: Bold;
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
  margin-left: 10px;  
}
.number {
  font-size: 14px;
  color: #000000;
  font-family: Bold;
  margin-top: 3px;
  margin-bottom: 7px;
  position: relative;
}
.number::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 5px;
  background-color: #5e42b0;
  right: 0;
  margin: 0 auto;
  border-radius: 25%;
  display: block;
}

@media (min-width: 1301px) {
  .header {
    font-size: 16px;
  }
}

@media (min-width: 641px) and (max-width: 1300px) {
  .header {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .header {
    font-size: 8px;
  }
}
